*/*

!.gitattributes
!.gitignore
!CODEOWNERS
!LICENSE
!README.md

!config/*
!scripts/*
!resourcepacks/*
!server-resource-packs/*
!.github/*

config/mobsinfo/*.cache

options.txt
optionsnf.txt
options_skinport.txt
settings.rtg
usernamecache.json
minetweaker.log
ears-debug.log
icon.png
OpenComputersMod*libjnlua*.dll
*.dll

*.bat
*.sh
*.ser
*.lnk

.codegraph/
.omo/

.DS_Store
*/.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.idea
