# Configuration file

general {
    # Custom mod info entries. 
    # Format: modid:field1=value,field2=value2 
    # Available fields: name, description, url, issueTrackerUrl, logoFile, iconFile, iconItem, backgroundFile, license, credits
    S:customModInfo <
     >

    # Whether enable Catalogue.
    # Setting it false will stop Catalogue redirecting Forge's mod list calls.
    B:enable=true

    # The list of mod ids that should always use the default item icon.
    # They will not have random-picked item icons to avoid crashes.
    S:forceDefaultIconList <
     >

    # The list of ignored dependencies' mod ids.
    # They will not be displayed when searching for dependencies/dependants.
    S:ignoredDependenciesList <
        minecraft
        Forge
        FML
        mcp
     >

    # The list of library mods' mod ids.
    # They will have grey names in the mod list.
    S:libraryList <
        Forge
        FML
        mcp
        gtnhlib
        gtnhextlib
        hodgepodge
        unimixins
        lwjgl3ify
     >
}


