# Configuration file

key_filter {
    # List of key codes to be ignored (see http://minecraft.gamepedia.com/Key_codes for list)
    I:keys <
     >
}


keyboard {
    # Event blink time (in ticks) after key repeat
    I:blinkTime=2

    # Horizontal distance to anchor point
    I:dx=32

    # Vertical distance to anchor point
    I:dy=8

    # Event fade time (in ticks)
    I:fadeTime=10

    # Horizontal anchor point
    S:horizontal=LEFT

    # Size of mouse state indicator
    I:size=16

    # Vertical anchor point
    S:vertical=TOP

    # Is mouse state indicator visible
    B:visible=true
}


mouse {
    # Horizontal distance to anchor point
    I:dx=4

    # Vertical distance to anchor point
    I:dy=4

    # Event fade time (in ticks)
    I:fadeTime=10

    # Horizontal anchor point
    S:horizontal=LEFT

    # Size of mouse state indicator
    I:size=16

    # Vertical anchor point
    S:vertical=TOP

    # Is mouse state indicator visible
    B:visible=true

    # Number of tick before wheel event starts decaying
    I:wheelEventDuration=10

    # Threshold of wheel movement neede to trigger display
    I:wheelThreshold=10
}


