# Configuration file

general {
    # How much energy should the gadget store (in RF)? [range: 1 ~ 2147483647, default: 1000000]
    I:capacityRF=1000000

    # Should the gadget require energy to function? Defaults to false if no RF/HE energy compatible mod is detected. [default: true]
    B:consumesEnergy=true

    # How much energy should the gadget use per block placed (in RF)? [range: 1 ~ 2147483647, default: 20]
    I:consumptionRF=20

    # Conversion rate of HE into RF. [range: 1.1754944E-38 ~ 3.4028235E38, default: 5.0]
    S:conversionHEtoRF=5.0
}


