# Configuration file

##########################################################################################################
# sfx_volume_levels
#--------------------------------------------------------------------------------------------------------#
# Volume levels for SFX. Minimum 0.0 - Maximum 1.0
##########################################################################################################

sfx_volume_levels {
    # The default fallback sound for when the item name doesn't match any known entry in the lists below.
    D:"invenaudio:invenaudio_default"=1.0

    ##########################################################################################################
    # general_vanilla_sounds
    #--------------------------------------------------------------------------------------------------------#
    # SFX for base Minecraft blocks/items.
    ##########################################################################################################

    general_vanilla_sounds {
        D:"invenaudio:invenaudio_anvil"=1.0
        D:"invenaudio:invenaudio_axe"=1.0
        D:"invenaudio:invenaudio_bars"=1.0
        D:"invenaudio:invenaudio_block_diamond"=1.0
        D:"invenaudio:invenaudio_block_gold"=1.0
        D:"invenaudio:invenaudio_block_iron"=1.0
        D:"invenaudio:invenaudio_boots"=1.0
        D:"invenaudio:invenaudio_bottle"=1.0
        D:"invenaudio:invenaudio_brick"=1.0
        D:"invenaudio:invenaudio_bricks"=1.0
        D:"invenaudio:invenaudio_bucket"=1.0
        D:"invenaudio:invenaudio_carpet"=1.0
        D:"invenaudio:invenaudio_chestplate"=1.0
        D:"invenaudio:invenaudio_clay"=1.0
        D:"invenaudio:invenaudio_coal"=1.0
        D:"invenaudio:invenaudio_cobble"=1.0
        D:"invenaudio:invenaudio_diamond"=1.0
        D:"invenaudio:invenaudio_dirt"=1.0
        D:"invenaudio:invenaudio_emerald"=1.0
        D:"invenaudio:invenaudio_flint"=1.0
        D:"invenaudio:invenaudio_glass"=1.0
        D:"invenaudio:invenaudio_gold"=1.0
        D:"invenaudio:invenaudio_grass"=1.0
        D:"invenaudio:invenaudio_gravel"=1.0
        D:"invenaudio:invenaudio_helmet"=1.0
        D:"invenaudio:invenaudio_hoe"=1.0
        D:"invenaudio:invenaudio_ice"=1.0
        D:"invenaudio:invenaudio_ingot"=1.0
        D:"invenaudio:invenaudio_iron"=1.0
        D:"invenaudio:invenaudio_leather"=1.0
        D:"invenaudio:invenaudio_leggings"=1.0
        D:"invenaudio:invenaudio_nugget"=1.0
        D:"invenaudio:invenaudio_obsidian"=1.0
        D:"invenaudio:invenaudio_ore"=1.0
        D:"invenaudio:invenaudio_pane"=1.0
        D:"invenaudio:invenaudio_pickaxe"=1.0
        D:"invenaudio:invenaudio_planks"=1.0
        D:"invenaudio:invenaudio_plant"=1.0
        D:"invenaudio:invenaudio_potion"=1.0
        D:"invenaudio:invenaudio_powder"=1.0
        D:"invenaudio:invenaudio_quartz"=1.0
        D:"invenaudio:invenaudio_redstone"=1.0
        D:"invenaudio:invenaudio_rock"=1.0
        D:"invenaudio:invenaudio_sand"=1.0
        D:"invenaudio:invenaudio_sapling"=1.0
        D:"invenaudio:invenaudio_seeds"=1.0
        D:"invenaudio:invenaudio_shovel"=1.0
        D:"invenaudio:invenaudio_snow"=1.0
        D:"invenaudio:invenaudio_star"=1.0
        D:"invenaudio:invenaudio_stick"=1.0
        D:"invenaudio:invenaudio_stone"=1.0
        D:"invenaudio:invenaudio_string"=1.0
        D:"invenaudio:invenaudio_sword"=1.0
        D:"invenaudio:invenaudio_window"=1.0
        D:"invenaudio:invenaudio_wood"=1.0
        D:"invenaudio:invenaudio_wool"=1.0
    }

    ##########################################################################################################
    # general_modded_sounds
    #--------------------------------------------------------------------------------------------------------#
    # SFX for modded blocks/items.
    ##########################################################################################################

    general_modded_sounds {
        D:"invenaudio:invenaudio_aluminum"=1.0
        D:"invenaudio:invenaudio_ardite"=1.0
        D:"invenaudio:invenaudio_bronze"=1.0
        D:"invenaudio:invenaudio_cobalt"=1.0
        D:"invenaudio:invenaudio_copper"=1.0
        D:"invenaudio:invenaudio_crystal"=1.0
        D:"invenaudio:invenaudio_dust"=1.0
        D:"invenaudio:invenaudio_electrum"=1.0
        D:"invenaudio:invenaudio_enderium"=1.0
        D:"invenaudio:invenaudio_gas"=1.0
        D:"invenaudio:invenaudio_gem"=1.0
        D:"invenaudio:invenaudio_invar"=1.0
        D:"invenaudio:invenaudio_iridium"=1.0
        D:"invenaudio:invenaudio_lead"=1.0
        D:"invenaudio:invenaudio_manyullyn"=1.0
        D:"invenaudio:invenaudio_niter"=1.0
        D:"invenaudio:invenaudio_oil"=1.0
        D:"invenaudio:invenaudio_osmium"=1.0
        D:"invenaudio:invenaudio_rubber"=1.0
        D:"invenaudio:invenaudio_saltpeter"=1.0
        D:"invenaudio:invenaudio_shard"=1.0
        D:"invenaudio:invenaudio_signalum"=1.0
        D:"invenaudio:invenaudio_silver"=1.0
        D:"invenaudio:invenaudio_steel"=1.0
        D:"invenaudio:invenaudio_sulfur"=1.0
        D:"invenaudio:invenaudio_tin"=1.0
        D:"invenaudio:invenaudio_tungsten"=1.0
        D:"invenaudio:invenaudio_uranium"=1.0
    }

    ##########################################################################################################
    # specific_modded_sounds
    #--------------------------------------------------------------------------------------------------------#
    # SFX for specific modded blocks/items.
    ##########################################################################################################

    specific_modded_sounds {
        D:"invenaudio:invenaudio_actuator"=1.0
        D:"invenaudio:invenaudio_bar"=1.0
        D:"invenaudio:invenaudio_barrel"=1.0
        D:"invenaudio:invenaudio_battery"=1.0
        D:"invenaudio:invenaudio_binding"=1.0
        D:"invenaudio:invenaudio_board"=1.0
        D:"invenaudio:invenaudio_cable"=1.0
        D:"invenaudio:invenaudio_capacitor"=1.0
        D:"invenaudio:invenaudio_casing"=1.0
        D:"invenaudio:invenaudio_catalyst"=1.0
        D:"invenaudio:invenaudio_cell"=1.0
        D:"invenaudio:invenaudio_chamber"=1.0
        D:"invenaudio:invenaudio_chassis"=1.0
        D:"invenaudio:invenaudio_chip"=1.0
        D:"invenaudio:invenaudio_circuit"=1.0
        D:"invenaudio:invenaudio_cog"=1.0
        D:"invenaudio:invenaudio_coil"=1.0
        D:"invenaudio:invenaudio_component"=1.0
        D:"invenaudio:invenaudio_conduit"=1.0
        D:"invenaudio:invenaudio_core"=1.0
        D:"invenaudio:invenaudio_fan"=1.0
        D:"invenaudio:invenaudio_filter"=1.0
        D:"invenaudio:invenaudio_frame"=1.0
        D:"invenaudio:invenaudio_gear"=1.0
        D:"invenaudio:invenaudio_lens"=1.0
        D:"invenaudio:invenaudio_machine"=1.0
        D:"invenaudio:invenaudio_motor"=1.0
        D:"invenaudio:invenaudio_pipe"=1.0
        D:"invenaudio:invenaudio_plate"=1.0
        D:"invenaudio:invenaudio_pole"=1.0
        D:"invenaudio:invenaudio_processor"=1.0
        D:"invenaudio:invenaudio_resonator"=1.0
        D:"invenaudio:invenaudio_rod"=1.0
        D:"invenaudio:invenaudio_screw"=1.0
        D:"invenaudio:invenaudio_servo"=1.0
        D:"invenaudio:invenaudio_tank"=1.0
        D:"invenaudio:invenaudio_tube"=1.0
        D:"invenaudio:invenaudio_turbine"=1.0
        D:"invenaudio:invenaudio_upgrade"=1.0
        D:"invenaudio:invenaudio_wire"=1.0
    }

}


