# Configuration file

##########################################################################################################
# 00_modules
#--------------------------------------------------------------------------------------------------------#
# Runtime Module Toggles
##########################################################################################################

00_modules {
    # Runtime toggle for natural textures.
    # Requires naturalTexturesMixins enabled.
    # [default: true]
    B:naturalTextures=true

    # Allow regular glass blocks, glass panes, and beacon glass to have semi-transparent textures.
    # Requires betterGlassMixins enabled.
    # [default: true]
    B:betterGlass=true

    # Runtime toggle for connected textures.
    # Requires connectedTexturesMixins enabled.
    # [default: true]
    B:connectedTextures=true

    # Runtime toggle for random mobs.
    # Requires randomMobsMixins to be enabled.
    # [default: true]
    B:randomMobs=true

    # Runtime toggle for custom item textures.
    # Requires customItemTexturesMixins enabled.
    # [default: true]
    B:customItemTextures=true
}


##########################################################################################################
# 01_mixins
#--------------------------------------------------------------------------------------------------------#
# Game-Start Settings
##########################################################################################################

01_mixins {
    # Disable this if you don't want better glass mixins to land.
    # This is required for betterGlass.
    # [default: true]
    B:betterGlassMixins=true

    # Disable this if you don't want natural texture mixins to land.
    # This is required for naturalTextures.
    # [default: true]
    B:naturalTexturesMixins=true

    # Set to Disabled this if you don't want custom item texture mixins to land.
    #  - Weak: Will still load if some fail to apply
    #  - Regular: Will crash the game on failure
    #  - Epic: Uses ASM to rename certain methods
    # This is required for customItemTextures.
    # [default: Epic, possible values: [Disabled, Weak, Regular, Epic]]
    S:customItemTexturesMixins=Epic

    # Resource pack overlay system. Currently used for implementing ctm_compact support.
    # Disable if you're getting weird texture loading problems.
    # [default: true]
    B:resourcePackOverlayMixins=true

    # Disable this if you don't want random mob mixins to land.
    # This is required for randomMobs.
    # [default: true]
    B:randomMobsMixins=true

    # Disable this if you don't want connected texture mixins to land.
    # This is required for connectedTextures.
    # [default: true]
    B:connectedTexturesMixins=true
}


##########################################################################################################
# 02_extras
#--------------------------------------------------------------------------------------------------------#
# Additional Runtime Configurations
##########################################################################################################

02_extras {
    # Disable this if you don't want Natural Textures configuration files from multiple resource packs to 'stack' on top of each other in order of priority.
    # If true, the total set of Natural Textures will be created using all resource packs in the chain.
    # If false, only the highest priority 'natural.properties' file will be used.
    # [default: true]
    B:naturalTexturesStack=true
}


