# Configuration file

chatbox {
    # List of commands that glasses are allowed to use via the ChatBox.
    S:allowedCommands <
        /msg
        /w
        /tell
     >
}


energy {
    I:energyBuffer=100

    # PowerDrain= (NumberOfWidgets / 10) * energyMultiplier
    D:energyMultiplier=1.0
}


