# Configuration file

##########################################################################################################
# behavior
#--------------------------------------------------------------------------------------------------------#
# Controls entry lifetime, merging, and movement.
##########################################################################################################

behavior {
    # Combine entries of the same type instead of showing each one individually.
    S:combine_entries=EXCLUDE_NAMED

    # Amount of ticks each entry will be shown for. Set to 0 to only remove entries when space is needed. [range: 0 ~ 2147483647, default: 80]
    I:display_time=80

    # Make outdated entry names slowly fade away instead of simply vanishing.
    B:fade_out=true

    # Make outdated entries slowly move out of the screen.
    S:move_out=VERTICALLY_ONLY

    # Amount of ticks it takes for an entry to move out of the screen. [range: 0 ~ 2147483647, default: 20]
    I:move_time=20
}


##########################################################################################################
# debug
#--------------------------------------------------------------------------------------------------------#
# Controls debug logging and tools.
##########################################################################################################

debug {
    # Enable debug mode.
    B:debugMode=false
}


##########################################################################################################
# display
#--------------------------------------------------------------------------------------------------------#
# Controls HUD layout and entry rendering.
##########################################################################################################

display {
    # Color of the entry name text.
    S:default_text_color=WHITE

    # Where and if to display the amount of items picked up.
    S:display_amount=TEXT

    # Add the name of the item to the entry.
    B:display_item_name=true

    # Scale of entries. A lower scale will make room for more rows to show. [range: 1 ~ 24, default: 4]
    I:display_scale=4

    # Show pickups when the picked up amount is just a single item.
    B:display_single_count=true

    # Show a small sprite next to the name of each entry showing its contents.
    B:draw_sprite=true

    # Mode for drawing a background behind entries for better visibility.
    S:entry_background=CHAT

    # Spacing between entries in unscaled pixels. [range: 0 ~ 32, default: 2]
    I:entry_margin=2

    # Ignore rarity when determining item name color.
    B:ignore_rarity=false

    # Add the total amount of an item in your inventory to the entry.
    B:inventory_count=false

    # Percentage of relative screen height entries are allowed to fill at max.
    D:max_height=0.5

    # Offset on x-axis from screen border. [range: 0 ~ 2147483647, default: 8]
    I:offset_x=8

    # Offset on y-axis from screen border. [range: 0 ~ 2147483647, default: 4]
    I:offset_y=4

    # Screen corner for entry list to be drawn in.
    S:screen_corner=BOTTOM_RIGHT
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Controls what pickups are collected.
##########################################################################################################

general {
    # Force the mod to run client-side only.
    B:client_only=false

    # Prevent pickups from being added to the log when in creative mode.
    B:disable_in_creative=false

    # Show the value of experience points collected instead of the amount of individual orbs.
    B:experience_value=true

    # Disable specific items or whole mod item groups. Use ids like minecraft:stone or modid:*.
    S:hidden_items <
     >

    # Show shot arrows the player has collected in the pickup notifications.
    B:include_arrows=true

    # Show experience orbs the player has collected in the pickup notifications.
    B:include_experience=true

    # Show item entities the player has collected in the pickup notifications.
    B:include_items=true
}


##########################################################################################################
# server
#--------------------------------------------------------------------------------------------------------#
# Controls server-assisted pickup tracking.
##########################################################################################################

server {
    # Show entries for items picked up that do not go to the player's inventory.
    B:backpack_integration=true

    # Show item pickups when only part of a ground stack fits in the player's inventory.
    B:partial_pickups=true
}


