# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# These are the original Waila configs which are shared between old and new apis
##########################################################################################################

general {
    I:waila.cfg.alpha=0
    I:waila.cfg.bgcolor=0
    I:waila.cfg.fontcolor=16777215
    I:waila.cfg.gradient1=0
    I:waila.cfg.gradient2=0
    I:waila.cfg.heartsperline=20
    B:waila.cfg.keybind=true
    B:waila.cfg.liquid=true
    I:waila.cfg.maxhpbeforetext=40
    B:waila.cfg.metadata=false
    B:waila.cfg.newfilters=true
    I:waila.cfg.posx=5000
    I:waila.cfg.posy=0
    I:waila.cfg.scale=125
    B:waila.cfg.shiftblock=false
    B:waila.cfg.shiftents=false
    B:waila.cfg.show=true
    B:waila.cfg.showicon=false
    B:waila.cfg.showmode=true
}


##########################################################################################################
# modules
#--------------------------------------------------------------------------------------------------------#
# Those are the config keys defined in modules [using the old api].
# Server side, it is used to enforce keys client side using the next section.
##########################################################################################################

modules {
    B:computronics.enableDriveState=true
    B:computronics.enableLampColor=true
    B:computronics.enableOCAddress=true
    B:computronics.enableRelayBound=true
    B:computronics.enableTape=true
    B:computronics.enableTapeName=true
    B:enderstorage.colors=true
    B:general.showcrop=true
    B:general.showents=true
    B:general.showhp=true
    B:harvestability.currentlyharvestable=true
    B:harvestability.effectivetool=true
    B:harvestability.harvestlevel=true
    B:harvestability.shearability=true
    B:harvestability.silktouchability=true
    B:harvestability.toolrequiredonly=true
    B:ic2.outputeu=true
    B:ic2.storage=true
    B:oc.address=true
    B:oc.componentName=true
    B:oc.energy=true
    B:openblocks.fluidamount=true
    B:pr.showdata=true
    B:pr.showio=true
    B:pr.showsignal=true
    B:railcraft.fluidamount=true
    B:vanilla.comparator=true
    B:vanilla.jukebox=true
    B:vanilla.leverstate=true
    B:vanilla.redstone=true
    B:vanilla.repeater=true
    B:vanilla.show_invisible_players=true
    B:vanilla.silverfish=true
    B:vanilla.spawntype=true
}


##########################################################################################################
# server_forcing
#--------------------------------------------------------------------------------------------------------#
# Any key set to true here will ensure that the client is using the configuration set in the 'module' section above.
# This is useful for enforcing false to 'cheating' keys like silverfish.
##########################################################################################################

server_forcing {
    B:computronics.enableDriveState=false
    B:computronics.enableLampColor=false
    B:computronics.enableOCAddress=false
    B:computronics.enableRelayBound=false
    B:computronics.enableTape=false
    B:computronics.enableTapeName=false
    B:enderstorage.colors=false
    B:general.showcrop=false
    B:general.showents=false
    B:general.showhp=false
    B:harvestability.currentlyharvestable=false
    B:harvestability.effectivetool=false
    B:harvestability.harvestlevel=false
    B:harvestability.shearability=false
    B:harvestability.silktouchability=false
    B:harvestability.toolrequiredonly=false
    B:ic2.outputeu=false
    B:ic2.storage=false
    B:oc.address=false
    B:oc.componentName=false
    B:oc.energy=false
    B:openblocks.fluidamount=false
    B:pr.showdata=false
    B:pr.showio=false
    B:pr.showsignal=false
    B:railcraft.fluidamount=false
    B:vanilla.comparator=false
    B:vanilla.jukebox=false
    B:vanilla.leverstate=false
    B:vanilla.redstone=false
    B:vanilla.repeater=false
    B:vanilla.show_invisible_players=false
    B:vanilla.silverfish=false
    B:vanilla.spawntype=false
}


